hf-xet==1.1.5
hf_transfer==0.1.9
transformers==4.53.2
torch==2.7.0
xformers==0.0.30
torchvision==0.22.0
torchaudio==2.7.0
accelerate==1.9.0
trl==0.19.1
peft==0.16.0
unsloth_zoo==2025.7.7
vllm==0.9.2
unsloth==2025.7.5